* {
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

body {
    background-color: rgb(255, 180, 162);
}

/*Navigation Bar*/

.myNavBar {
    position: fixed;
    width: 100%;
    z-index: 10;
    font-weight: bold;
    background-color: rgba(94, 88, 105, 0.65) !important;
    color: white !important;
}

.navbar-brand {
    font-size: 28px !important;
}

.myNavBar a {
    color: white !important;
    padding: 20px;
    font-size: 21px;
}

.navbar-nav a:hover {
    opacity: 60%;
    color: #3D348B !important;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.dropdown-menu {
    background-color: rgba(109, 104, 117, 0.65);
}

.dropdown-menu a {
    font-size: 18px;
}

/*Jumbotron hero image*/

.jumbotron {
    background-image: url(../images/sunset2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    height: calc(80vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    border: 5px solid white;
    margin: 20px;
}

.jumboCopy {
    padding-top: 60px;
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    text-align: center;
}