* {
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

body {
    background-color: rgb(255, 180, 162);
}

/*Navigation Bar*/

.myNavBar {
    position: fixed;
    width: 100%;
    z-index: 10;
    font-weight: bold;
    background-color: rgba(94, 88, 105, 0.80) !important;
    color: white !important;
}

.navbar-brand {
    font-size: 28px !important;
    text-decoration: underline;
}

.myNavBar a {
    color: white !important;
    padding: 20px;
    font-size: 21px;
}

.navbar-nav a:hover {
    opacity: 60%;
    color: #3D348B !important;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.dropdown-menu {
    background-color: rgba(109, 104, 117, 0.8);
}

.dropdown-menu a {
    font-size: 18px;
}

/*Jumbotron hero image*/

.jumbotron {
    background-image: url(../images/sunset2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    height: calc(80vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    border: 5px solid white;
    margin: 20px;
}

.jumboCopy {
    padding-top: 60px;
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    text-align: center;
}

.jumboCopy h1 {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
}

.jumboCopy p {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    padding: 8px 16px;
}

.myButton {
    background: rgba(109, 104, 117);
    border: 1px solid rgb(109, 104, 117);
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(109, 104, 117, 0.65);
}

.myButton:hover {
    background: white;
    border: 1px solid white;
    border-radius: 10px;
    color: rgba(109, 104, 117);
    box-shadow: 5px 5px 20px rgba(59, 57, 65, 0.65);
}

.myButton::after {
    background-color: green !important;
}

/*My Work*/

.myWork {
    background-color: rgb(229, 152, 155);
    margin: 20px;
    border-radius: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    box-shadow: 5px 5px 20px rgba(109, 104, 117, 0.65);
    border: 2px solid white;
}

.myWork h2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 30px;
    font-size: 45px;
    font-weight: bold;
    text-decoration: underline;
}

.workIntro {
    padding-left: 30px;
    padding-top: 10px;
    font-size: 18px;
}

.card {
    margin: 10px;
    background-color: rgb(109, 104, 117);
    color: white;
    border: 5px solid white;
    box-shadow: 5px 5px 20px rgba(109, 104, 117, 0.65);
}

.card:hover {
    opacity: 90% !important;
    box-shadow: 5px 5px 20px black;
}

.card-body {
    border-top: 5px solid white;
}

.card h5 {
    font-size: 21px;
    font-weight: bold;
}

.myButtonGo {
    background: white;
    border: 1px solid white;
    border-radius: 20px;
    color: rgba(109, 104, 117);
    font-weight: bold;

}

.myButtonGo:hover {
    background: rgb(229, 152, 155);
    border: 1px solid rgb(229, 152, 155);
    border-radius: 20px;
    color: rgb(82, 74, 97);
}

.myButtonNo {
    background-color: rgb(255, 205, 178) !important;
    border: 1px solid rgb(255, 205, 178) !important;
    border-radius: 20px !important;
    color: rgb(82, 74, 97) !important;
}

/*About Me*/

.cardContainer2 h2 {
    font-size: 45px;
    font-weight: bold;
    text-decoration: underline;
}

.cardContainer2 h4 {
    font-size: 28px;
    font-weight: bold;
    text-decoration: underline;
}

.cardContainer2 {
    font-size: 18px;
    background-color: rgb(229, 152, 155);
    padding-top: 50px;
    padding-bottom: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(109, 104, 117, 0.65);
    border: 2px solid white;
}

/*My Skills*/

.cardContainer3 h2 {
    font-size: 45px;
    font-weight: bold;
    text-decoration: underline;
}

.cardContainer3 {
    font-size: 18px;
    background-color: rgb(181, 131, 141);
    padding-top: 50px;
    padding-bottom: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(109, 104, 117, 0.65);
    border: 2px solid white;
}

.skillsAndProfile {
    margin: 20px;
    padding-top: 50px;
}