* {
    scroll-behavior: smooth;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
}

body {
    background-color: rgb(255, 180, 162);
}

/*Navigation Bar*/

.myNavBar {
    position: fixed;
    width: 100%;
    z-index: 10;
    font-weight: bold;
    background-color: rgba(94, 88, 105, 0.65) !important;
    color: white !important;
}

.navbar-brand {
    font-size: 28px !important;
    text-decoration: underline;
}

.myNavBar a {
    color: white !important;
    padding: 20px;
    font-size: 21px;
}

.navbar-nav a:hover {
    opacity: 60%;
    color: #3D348B !important;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
}

.dropdown-menu {
    background-color: rgba(109, 104, 117, 0.65);
}

.dropdown-menu a {
    font-size: 18px;
}

/*Jumbotron hero image*/

.jumbotron {
    background-image: url(../images/sunset2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    height: calc(80vh - 25px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron img {
    width: 250px;
    height: auto;
    border-radius: 10px;
    border: 5px solid white;
    margin: 20px;
}

.jumboCopy {
    padding-top: 60px;
    width: 70%;
    min-width: 500px;
    max-width: 700px;
    text-align: center;
}

.jumboCopy h1 {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
}

.jumboCopy p {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
    padding: 8px 16px;
}

.myButton {
    background: rgba(109, 104, 117);
    border: 1px solid rgb(109, 104, 117);
    border-radius: 10px;
    box-shadow: 5px 5px 20px rgba(109, 104, 117, 0.65);
}

.myButton:hover {
    background: white;
    border: 1px solid white;
    border-radius: 10px;
    color: rgba(109, 104, 117);
    box-shadow: 5px 5px 20px rgba(59, 57, 65, 0.65);
}

/*My Work*/

.myWork h2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding-left: 30px;
    font-size: 45px;
    font-weight: bold;
    text-decoration: underline;
    padding-top: 50px;
}

.card {
    margin: 10px;
    background-color: rgb(109, 104, 117);
    color: white;
    border: 5px solid white;
}

.card-body {
    border-top: 5px solid white;
}

.card h5 {
    font-size: 21px;
    font-weight: bold;
}
